@page
@model Web.Pages.Seguridad.AcessoDenegadoModel
@{
}

<header class="subhead">
    <div class="container">
        <div class="masthead-subheading">SC-701: Programación Web Avanzada</div>
        <div class="masthead-heading text-uppercase">Ejercicio persona</div>
    </div>
</header>
<section class="page-section bg-light">
    <div class="text-center">
        <h1 class="section-heading text-uppercase">403 </h1>
        <h2 class="section-subheading text-muted">Acceso denegado</h2>
    </div>
    <div class="container py-5 h-100">
        <img src="~/assets/img/403.webp" alt="Gandalf not pass" class="img-fluid rounded mx-auto d-block Denied" />
    </div>
</section>